body {
  background: rgb(94,184,154);
}

.fullbleed {
  border: 6px yellow solid ;
  width: 100vw;
  margin: 0 ;
  margin-left: 50%;
  transform: translateX(-50%);
}

.fullbleed img{
  width: 100% ;
}

section {
  background: rgb(200,255,251);
  max-width: 840px;
  margin: 0 auto;
}

header {
  background: red;
  color: white;
  min-height: 15vh;
}

.navigation {
  display: flex;
}

h1 {
  font-size: 5em;
  text-align: center;
}
